header{
    background-color: aliceblue;
    text-align: center;
    padding: 10px;
}
footer{
    background-color:blueviolet;
    text-align: center;
    padding: 10px;
}
nav{
    overflow:hidden;
    background-color: #3333;
}
nav a{
    float:left;
    display:block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav a:hover{
    background-color: cadetblue;
    color:yellowgreen;
}
/* formatting hero section */
.hero{
    min-height: 500px;
    background: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)
    ),
    url("kati.JPG");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px 20px;
}
.hero content{
    max-width: 800px;
    color: white;
}
.hero h2{
    font-size: 1.5em;
    font-weight:40px;
    margin-bottom: 20px;
    color:white;
}
.hero h3{
    font-size: 1.5em;
    font-weight:40px;
    margin-bottom: 20px;
    color:white;
}
.hero p{
    font-size: 1.1rem;
    line-height:1.6;
    margin-bottom: 30px;
    color: white;
}
form{
    margin: 40px;
}
input[type="text"],
input[type="Email"],
textarea{
    display: block;
    padding: 10px;
    width: 80%;
    font-family: monospace;
    text-transform: uppercase;
}